body {
  background: #1b4c8c;
}

.form {
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}
.btn {
  background: #fdb2a4;
  font-family: sans-serif;
  border-radius: 3px;
  margin-left: 10px;
}

.show_user {
  margin: 30px;
  color: white;
  font-family: sans-serif;
}

.js-user_name {
  font-size: 24px;
  margin-bottom: 10px;
}

.js-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}

.icon {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  color: white;
}
