body {
  background: #1b4c8c;
}

.form {
  display: flex;
}

.js-image {
  max-width: 250px;
  max-height: 250px;
}

.btn {
  background: #fdb2a4;
  font-family: sans-serif;
  border-radius: 3px;
  margin-left: 10px;
}
